<main class="main">
  <div class="content">
    <div class="head">
      <h1>{{ isLoading ? "Loading.." : "Forms task" }}</h1>
      <hr />
    </div>
  </div>

  <div class="content" *ngIf="!isLoading">
    <div class="left-side">
      <label for="gender">Choose a Gender:</label>
      <select
        name="gender"
        #gender
        ngModel
        (change)="onGenderChange(gender.value)"
        id="gender"
      >
        <option value selected disabled hidden>Select a option</option>
        <option *ngFor="let item of genders" [value]="item.DataValue">
          {{ item.DataText }}
        </option>
      </select>

      <label for="bloodGroup">Choose a Blood Group:</label>
      <select
        name="bloodGroup"
        #bloodGroup
        ngModel
        (change)="onBloodGroupChange(bloodGroup.value)"
        id="bloodGroup"
      >
        <option value selected disabled hidden>Select a option</option>
        <option *ngFor="let item of bloodGroups" [value]="item.DataValue">
          {{ item.DataText }}
        </option>
      </select>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <p *ngIf="selectedGender">
          <b> Gender : </b> {{ selectedGender.DataText }}
        </p>
        <p *ngIf="selectedBloodGroup">
          <b>Blood Group : </b> {{ selectedBloodGroup.DataText }}
        </p>
      </div>
    </div>
  </div>
</main>
<router-outlet />
